@model CMSPlus.Domain.Models.TopicModels.TopicEditModel

@{
    Layout = "_Layout";
}
<partial name="_RichTextEditorPartial"/>
<form method="post">
    <p>@Html.ValidationSummary()</p>
    <div class="form-group">
        <input hidden asp-for="CreatedOnUtc"></input>
        <label asp-for="Title" class="m-1"></label>
        <input asp-for="Title" class="form-control"></input>
        <label asp-for="Body" class="m-1"></label>
        <textarea asp-for="Body" id="div_editor1"></textarea>
        <script>
                	var editor1 = new RichTextEditor(document.getElementById("div_editor1"));
                	editor1.attachEvent("change", function () {
                		document.getElementById("inp_htmlcode").value = editor1.getHTMLCode();
                	});
                </script>
        <label asp-for="SystemName" class="m-1"></label>
        <input asp-for="SystemName" class="form-control"></input>
    </div>
    <div class="row">
        <div class="col-6 text-start">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Topic" asp-action="Index" class="btn btn-primary">Back to list</a>
        </div>
    </div>
</form>
